/* CSS RESET */
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Paytone One, sans-serif;
}

input, textarea, select {
    font: inherit;
}

/* STYLE START */
/* OVERRIDES */

:root {
    --background: rgb(255, 217, 0);
    --foreground: black;
    --foreground-light: rgba(0, 0, 0, 0.6);
    --highlight: rgb(255, 255, 255);
    --shadow: rgba(255, 0, 0, 0.25);
    --dark-shadow: rgba(0, 0, 0, 0.205);
    --accent-one: rgba(255, 217, 0, 0.5);
    --accent-one-dark: rgb(224, 193, 16);
    --accent-one-darker: rgb(199, 166, 18);
    --accent-two: rgb(236, 47, 47);
    --accent-two-light: rgb(241, 59, 59);
    --accent-two-dark: rgb(185, 46, 46);    
    --accent-three: rgb(58, 207, 71);
    --accent-three-dark: rgb(35, 150, 45);
    --accent-three-darker: rgb(29, 134, 38);
    --accent-three-soft-light: rgb(69, 218, 82);
    --accent-three-light: rgba(138, 255, 144, 0.596);
}

body {
    background-color: var(--background);
}

input[type="text"] {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-bottom: 3px solid var(--accent-one);
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]:disabled {
    background-color: white;
    color: var(--foreground);
    user-select: none;
}

/* IDs */

#titleCard {
    position: absolute;
    z-index: 99;
    background-color: var(--background);
    gap: 200px;
}

#play {
    width: 200px;
    height: 100px;
    background-color: var(--accent-three);
}

#mainContent {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 10% 85%;
    grid-template-columns: 20% 50% 20%;
    gap: 5%;
    grid-template-areas: 
    "reset message ai"
    "playerOne gameBoard playerTwo";
    justify-items: center;
    align-content: center;
}

#topCenter {
    position: relative;
    grid-area: message;
    width: 100%;
    height: 100%;
    background-color: var(--accent-three);
    border-radius: 20px;
    box-shadow: 3px 3px var(--shadow);
    color: white;
    font-weight: bolder;
    font-size: 24px;
    user-select: none;
}

#messageBox {
    position: relative;
    width: 99%;
    height: 90%;
    background-color: var(--accent-three-dark);
    border-radius: 15px;
}

#timerSetter {
    position: absolute;
    width: 100%;
    font-size: 4vh;
}

#timerDisplay {
    width: 100%;
    position: absolute;
    font-size: 5vh;
    padding-bottom: 5px;
}

#timerText {
    margin-right: 5%;
}

#threeSecondButton {
    border-left: 2px solid;
    border-color: var(--accent-three-light);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#fiveSecondButton {
    border-right: 2px solid;
    border-color: var(--accent-three-light);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#vsAI {
    grid-area: ai;
    background-color: var(--accent-two);
}

#vsPlayer {
    grid-area: ai;
    background-color: var(--accent-three);
}

#reset {
    grid-area: reset;
    background-color: var(--accent-two);
}

#start {
    grid-area: reset;
    background-color: var(--accent-three);
}

#vsAI:hover, #reset:hover {
    background-color: var(--accent-two-light);
}

#vsPlayer:hover, #start:hover {
    background-color: var(--accent-three-soft-light);
}

#playerOne {
    width: 100%;
    grid-area: playerOne;
    color: var(--accent-two-dark);
}

#centerCard {
    position: relative;
    aspect-ratio: 1/1;
    grid-area: gameBoard;
    display: flex;
    align-content: center;
    justify-items: center;
    border: 10px solid;
    border-color: white;
    color: var(--background);
}

#startTimer {
    position: absolute;
    z-index: 2;
    background-color: white;
    font-size: 30vh;
    font-weight: bolder;
    color: var(--background);
}

#menuCard {
    position: absolute;
    z-index: 4;
    background-color: white;
    font-weight: bolder;
    font-size: 3vh;
    color: var(--foreground);
    gap: 10%;
    border-radius: 20px;
}

#soundOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

#endCard {
    position: absolute;
    z-index: 3;
    background-color: white;
    font-size: 5vh;
    font-weight: bolder;
    color: var(--background);
}

#winnerName {
    font-size: 7vh;
}

#gameBoard {
    position: absolute;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

#playerTwo {
    width: 100%;
    grid-area: playerTwo;
    color: var(--accent-three-dark);
}

#aiToggle {
    height: 10%;
}

/* CLASSES */

.menuOption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.playerOneSelect {
    background-color: var(--accent-two);
}

.playerTwoSelect {
    background-color: var(--accent-three);
}

.avatar {
    aspect-ratio: 1/1;
    width: 100%;
    border: 5px solid var(--accent-one);
    border-radius: 20px;
}

.button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 3vh;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: var(--dark-shadow);
    box-shadow: 3px 3px var(--shadow);
}

.button:active {
    scale: 0.95;
    box-shadow: none;
}

.timerButton {
    background-color: var(--accent-three-darker);
    width: 20%;
    border: none;
    color: white;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: var(--accent-three-light);
    cursor: pointer;
    font-size: 3vh;
}

.tButtonOn {
    background-color: var(--accent-three);
}

.tile {
    border-radius: 20px;
    height: 100%;
    border: 5px solid var(--accent-one);
    cursor: pointer;
}

.tile:hover {
    box-shadow: 0px 0px 10px 0px var(--accent-one);
}

.tile:active {
    scale: 0.95;
}

.card {
    position: relative;
    background-color: white;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px var(--shadow);
    user-select: none;
}

.scoreField {
    position: absolute;
    font-size: 4vh;
    bottom: 5%
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexVertical {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 5%;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.fitWidth {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    visibility: hidden;
}

.shrink {
    animation: shrink 0.7s;
    animation-fill-mode: forwards;
}

.round {
    animation: round 0.7s;
    animation-fill-mode: forwards;
}

.shake {
    animation: shake 0.2s;
    animation-timing-function: steps(1);
}

.fade {
    animation: fade 0.5s;
    animation-fill-mode: forwards;
}

/* ANIMATION */

@keyframes shrink {
    0% {width: 100%;border-radius: 20px;}
    100% {width: 10%;border-radius: 50%;}
}

@keyframes round {
    0% {width: 99%;border-radius: 20px;}
    100% {width: 87%;border-radius: 50%;}
}

@keyframes shake {
    0%   {margin-right: 5%; margin-bottom: 5%;}
    33%  {margin-right: 5%; margin-top: 5%;}
    66%  {margin-left: 5%;  margin-bottom: 5%;}
    100% {margin-left: 5%;  margin-top: 5%;}
}

@keyframes fade {
    0% {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}