/* CSS RESET */
*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}

input, textarea, select {
    font: inherit;
}

/* STYLE START */
/* OVERRIDES */

:root {
    --background: rgb(255, 217, 0);
    --foreground: black;
    --shadow: rgba(255, 0, 0, 0.25);
    --accent-one: rgba(255, 217, 0, 0.5);
    --accent-two: rgb(236, 47, 47);
    --accent-three: rgb(58, 207, 71);
}

body {
    background-color: var(--background);
}

input[type="text"] {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-bottom: 3px solid var(--accent-one);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]:disabled {
    background-color: white;
    color: var(--foreground);
    user-select: none;
}

/* IDs */

#mainContent {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-rows: 10% 85%;
    grid-template-columns: 20% 50% 20%;
    gap: 5%;
    grid-template-areas: 
    "reset title ai"
    "playerOne gameBoard playerTwo";
    justify-items: center;
    align-content: center;
}

#vsAI {
    grid-area: ai;
    background-color: var(--accent-two);
}

#vsPlayer {
    grid-area: ai;
    background-color: var(--accent-three);
}

#reset {
    grid-area: reset;
    background-color: var(--accent-two);
}

#start {
    grid-area: reset;
    background-color: var(--accent-three);
}

#playerOne {
    width: 100%;
    grid-area: playerOne;
}

#centerCard {
    aspect-ratio: 1/1;
    grid-area: gameBoard;
    display: flex;
    align-content: center;
    justify-items: center;
}

#gameBoard {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

#ruleCard {
    visibility: hidden;
}

#playerTwo {
    width: 100%;
    grid-area: playerTwo;
}

#aiToggle {
    height: 10%;
}

/* CLASSES */

.playerOneSelect {
    background-color: var(--accent-two);
}

.playerTwoSelect {
    background-color: var(--accent-three);
}

.avatar {
    aspect-ratio: 1/1;
    width: 100%;
    border: 5px solid var(--accent-one);
    border-radius: 20px;
}

.button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 24px;
}

.button:hover {
    box-shadow: 0px 0px 5px 5px var(--shadow);
}

.button:active {
    scale: 0.95;
}

.tile {
    border-radius: 20px;
    height: 100%;
    border: 5px solid var(--accent-one);
    cursor: pointer;
}

.tile:hover {
    box-shadow: 0px 0px 10px 0px var(--accent-one);
}

.tile:active {
    scale: 0.95;
}

.card {
    background-color: white;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 3px 3px var(--shadow);
    user-select: none;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexVertical {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 5%;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.fitWidth {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    visibility: hidden;
}

/* ANIMATION */